![Pascal Achard](./images/photo-pascal-achard.jpg)
# Hi, it's me Pascal Achard
> Senior frontend developer

## Links about me
- [www](https://www.pascal-achard.com)
- [Twitter](https://twitter.com/botmaster)
- [Linkedin](http://www.linkedin.com/in/pascal-achard)


## I live in Grenoble (french Alpes)
<img src="{{{openweather.city_weather_icon_url}}}" alt="">

Currently, the weather is: **{{openweather.city_temp}}**°C, **{{openweather.city_weather}}**.
Today, the sun rises at {{openweather.sun_rise}} and sets at {{openweather.sun_set}}

{{#images.length}}
Above are the last {{images.length}} pictures posted by <a href="https://www.instagram.com/villedegrenoble/" target="_blank"><img alt="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" width="20"/> @villedegrenoble!</a>

<p style="display: flex; flex-wrap: wrap; gap: 20px;">
    {{#images}}
        <img src="{{{.}}}" alt="" width="200"/>
    {{/images}}
</p>
{{/images.length}}

------------
<p>This README file is generated <b>every 10 hours</b>!
    <br />Last refresh: {{refresh_date}}
    <br /><a href="https://medium.com/@th.guibert/how-to-create-a-self-updating-readme-md-for-your-github-profile-f8b05744ca91">Create your own by following this tutorial.</a>
</p>
<p><a href="https://github.com/botmaster/botmaster/actions/workflows/main.yaml"><img alt="" src="https://github.com/botmaster/botmaster/actions/workflows/main.yaml/badge.svg" /></a></p>

